@import '../abstracts/variables';

.nav {
  height: 50vh;
  padding: 1rem;
  background: $lightGrey;
  /* border: 1px solid $darkBlue; */
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
      margin-bottom: $margin-base;

      a {
        margin: 1rem 2rem;
  
        &:hover {
          color: $primaryColor;
        }
      }
    }
  }
}