@import '../abstracts/variables';

.nav {
  position: absolute;
  top: 4rem;
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  background: $white;
  /* border: 1px solid $darkBlue; */
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
      margin-bottom: $margin-huge;

      &:last-of-type {
        position: relative;
      }

      a {
        font-size: $headline5;
        margin: 1rem 2rem;
  
        &:hover {
          color: $primaryColor;
        }
      }
    }
  }

}

@media (min-width: 64rem) {
  .nav {
    position: relative;
    top: 0;
    width: 60%;
    height: 100%;
    justify-content: start;
    background: $lightGrey;

    ul {
      flex-direction: row;
      align-items: center;

      li {
        margin-bottom: 0;
        margin-right: $margin-big;

        &:last-of-type {
          position: absolute;
          right: 0;
        }

        a {
          margin: 0;
          font-size: $body;
        }
      }
    }
  }
}