@import '../abstracts/variables';

.header {
  padding: $padding-base $padding-big;
  height: 100vh;
  background: turquoise;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 64rem) {
    position: relative;
    height: 7rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
