@import '../abstracts/variables';

.header {
  padding: $padding-base $padding-big;
  height: 4rem;
  /* background: $lightGrey; */
  background: $lightGrey; 
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid $primaryColor;

  @media (min-width: 64rem) {
    position: relative;
    height: 5rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
