@import '../_sass/abstracts/_variables';
@import '../_sass/abstracts/fonts';

html,
body {
  color: $black;
  background-color: $white;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: $darkBlue;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.h-layout {
  width: 95%;
  padding: 1rem;
  margin: 0 auto;
}

@media(max-width:1024px) {
  .container {
    width: 98%;
    padding: .5rem;
  }
}


ul {
  list-style: none;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border-top: 1px solid black;
}


h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: $headline2;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: $margin-base;
}

